@media screen and (min-width: 320px)  and (max-width: 480px) {
    .left {
        width:0vw;
        display:none;
    }
    .right {
        margin-top: -3rem;
        
    }
    .principal{ 
        margin-bottom:5rem;
        margin-left: 7rem;
        width:55vw;
    }
    .pricipal > h3 {
        font-weight:700;
    }

    .principal > h1 {
        font-size:22px;
        
       
    }
    
    .principal{ 
        width:220px;
    }

    form {
        
        width:80vw;
    }

    .botoes {
       
        width:80vw;
        font-size:12px;
        align-items:center;
    }

    

    .botoes-2 {
        
        width:80vw;
    }

    .sem-conta {
         
        width:80vw;
    }
   
}